<template name="appBody">
  <div class="wrapper-welcome">
    <div class="title-welcome">Heartspeak</div>
    <div class="description-welcome">Heartspeak was made by <a href="http://www.codeforthekingdom.com" target="_blank" class="js-open">a Hackathon group at CT4k</a> as an assistance to <a href="http://www.wycliffeassociates.org/" target="_blank" class="js-open">Wycliffe Associates</a>. The entire app was made in 48 hours. View the source on <a href="https://github.com/symboliclink/heartspeak" target="_blank" class="js-open">GitHub</a>.
    </div>

    <div class="description-welcome">
    The app is designed to run on a physical device, where it uses the hardware's native audio capture support.
    </div>

    <div class="description-welcome">
    You can also run it in a simulator, or in a desktop browser as a convenience (what you're looking at right now).
    </div>

  </div>

  <div id="container" class="{{menuOpen}} {{overlayOpen}}">
    <section id="menu" class="overthrow">
        <a href="{{pathFor 'book-selection'}}" class="{{activePage 'book-selection'}}">
        <span class="wrapper-menu-item">
          <span class="icon-home"></span>
          <span class="title-menu">Book Selection</span>
        </span>
        </a>

        <a href="{{pathFor 'browse'}}" class="{{activePage 'browse'}}">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
          <span class="title-menu">Browse</span>
        </span>
        </a>

        <a href="{{pathFor 'canvas'}}" class="{{activePage 'canvas'}}">
        <span class="wrapper-menu-item">
          <span class="icon-bookmark-hollow"></span>
          <span class="title-menu">Sketch</span>
        </span>
        </a>

      <a href="{{pathFor 'translate'}}" class="{{activePage 'translate'}}">
        <span class="wrapper-menu-item">
          <span class="icon-home"></span>
          <span class="title-menu">Translate</span>
        </span>
      </a>

    </section>

      <div class="notifications">
        {{#unless connected}}
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="title-notification">Trying to connect</div>
          </div>
        {{/unless}}
        {{#each notifications}}
          <div class="notification">
            <a class="btn-primary js-notification-action">{{action}}</a>
            <div class="title-notification">{{title}}</div>
          </div>
        {{/each}}
      </div>

    {{> overlay}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> yield}}
    </div>

  </div>
</template>
