#content {
  background-color:#ddd;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#canvas{
  cursor:crosshair ;
  background-color:#fff;
}
.footer{
  text-align:right;
  width:100%;
  background-color: #fff;
}