<template name="translate">
  <div class="media capture test">
    {{> nav title='Translate' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
      </div>
      <div class="description-translate">
        <table width="100%">
          <tr align="center">
            <td colspan="3">
              <canvas id="demoCanvas" width="375" height="300">
                a canvas
              </canvas>
            </td>
          </tr>
          <tr align="center">
            <td></td>
            <td>
              <table>
                <tr>
                  <td><button class="record_test">record</button></td>
                  <td><button class="pause_test">pause</button></td> <!-- TODO: pause does not work -->
                  <td><button class="play_test">play</button></td>  <!-- TODO: play breaks after first use -->
                  <td><button class="stop_test">stop</button></td> <!-- TODO: stop is broke -->
                </tr>
              </table>
            </td>
            <td></td>
          </tr>
          <tr align="right">
            <td colspan="3"><div id="media_status"></div></td>
          </tr>
        </table>
      </div>

    </div>
    <a href="https://www.meteor.com" class="btn-primary js-open" target="_blank">Learn More</a>
  </div>
</template>
