<template name="nate">
  <div class="media capture test">
    {{> nav title='Nate' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
      </div>
      <div class="description-nate">
        <p>NateTest</p>
        <button class="record_test">record</button>
        <button class="play_test">play</button>
        <canvas id="demoCanvas" width="375" height="300">
          a canvas
        </canvas>
      </div>

    </div>
    <a href="https://www.meteor.com" class="btn-primary js-open" target="_blank">Learn More</a>
  </div>
</template>
