.translatePage {
  background-color:#fff;
  display: flex;
  flex-direction: row;
  height:100%;

  .thumbnails{
    margin-top:50px;
    flex: 1 1 auto;
    .thumbnail {
      height: 120px;
    }
  }

  .sound{

      margin-top:50px;
      flex: 0 1 500px;
      text-align:right;
      width:100%;
  }

}
