<template name="translate">
    <div class="page translatePage">
        {{> nav title='Translate' black=true}}

        <div class="thumbnails">
            {{#each sketches}}
                <img src="{{this.url}}" class="thumbnail" />
            {{/each}}

        </div>
            <div class="sound">
                <div><img class="record_test" src="/img/app/ic_mic_black_48dp.png"/></div>
                <div><img class="pause_test" src="/img/app/ic_pause_black_48dp.png"/></div>
                <div><img class="play_test" src="/img/app/ic_play_arrow_black_48dp.png"/></div>
                <div><img class="stop_test" src="/img/app/ic_stop_black_48dp.png"/></div>
            </div>
        </div>


</template>
