<template name="translate">
    <div class="page translatePage">
        {{> nav title='Translate' black=true}}

        <div class="thumbnails">
            {{#each sketches}}
                <img src="{{this.url}}" class="thumbnail" />
            {{/each}}
        </div>

      <div class="description-translate">
        <table width="100%">

          <tr align="center">
            <td></td>
            <td>
              <table>
                <tr>
                  <td><img class="record_test" src="/img/app/ic_mic_black_48dp.png"/></td>
                  <td><img class="pause_test" src="/img/app/ic_pause_black_48dp.png"/></td>
                  <td><img class="play_test" src="/img/app/ic_play_arrow_black_48dp.png"/></td>
                  <td><img class="stop_test" src="/img/app/ic_stop_black_48dp.png"/></td>
                </tr>
              </table>
            </td>
            <td></td>
          </tr>
          <tr align="right">
            <td colspan="3"><div id="media_status"></div></td>
          </tr>
        </table>
      </div>
        </div>
</template>
