.translatePage {
  background-color:#fff;
  display: flex;
  flex-direction: row;
  height:100%;

  .thumbnails{
    margin-top:50px;
    flex: 1 1 auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    .thumbnail {
      height: 120px;
    }
  }

  .sound{

      margin-top:50px;
    margin-right: 100px;
      flex: 0 1 50px;
      text-align:right;
      width:100%;
  }

}
